<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectalbum">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.ProjectAlbum"
        tools:targetApi="31">
        <activity
            android:name=".Activity.PhotoAlbumActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BigImageActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ListAlbumActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SlideShowActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorActivity"/>
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorStickerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorTextActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorCropActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorDrawActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.projectalbum"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>